In [ ]:
#Ishrat Amin
#CSCI381
#Professor : Matthew Fried

In [70]:
import re

In [71]:
#1
s = '555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Sco\
tt555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni'

result=re.findall(r'\d+', s)
print (result)

['555', '1239', '636', '555', '0113', '555', '6542', '555', '8904', '636', '555', '3226', '5553642']

In [72]:
#2

Title = r"(?:[A-Z][a-z]*\.\s*)?"
First = r"[A-Z][a-z]+,?\s+"
Middle = r"(?:[A-Z][a-z]*\.?\s*)?"
Last = r"[A-Z][a-z]+"
names=re.findall(Title + First + Middle + Last, s)
print(names)

['Dr. Bernard Lander', 'Hollingdorp, Donnatella', 'Fitzgerald, F. Scott', 'Rev. Martin Luther King', 'Snodgrass, Theodore', 'Carlamina Scarfoni']

In [73]:
#3

rearrange_list =[]
for name in names:
    if ("," in name):
        Last, First = name.split(",")
        Middle = ""
        
        if ("." in First):
            Middle, first = First.split(".")
            Middle+= "."
        else:
            first = First

        
        rearrange_list.append(first + " " + Middle + " " + Last)

    else:
        rearrange_list.append(name)
        
print(rearrange_list)

['Dr. Bernard Lander', ' Donnatella  Hollingdorp', ' Scott  F. Fitzgerald', 'Rev. Martin Luther King', ' Theodore  Snodgrass', 'Carlamina Scarfoni']

In [74]:
#4

output = []
for char in names:
    name = char.split(' ')
    if name[0] == 'Dr.' or name[0] == 'Rev.':
        output.append(True)
    else:
        output.append(False)

print(output)

[True, False, False, True, False, False]

In [75]:
#5

result = []

for name in rearrange_list:
    x = name.split()
    idx = 1 if x[0].endswith('.') else 0
    result.append(len(x[idx:]) > 2)

print(result)

[False, False, True, True, False, False]

In [76]:
#6

#If we consider this HTML string <title>+++BREAKING NEWS+++<title> and use regular expression “<.+>” . 
#It includes <title> tags and the text between tags.This is why we can not use “<.+>” regular expression.
#In order to get only the first HTML tag (i.e., “<title>”). we need to use <([a-z]+)> which will only select <title> tag.

String = '<title>+++BREAKING NEWS+++<title>'
tag  = re.findall('<([a-z]+)>', String )
print(tag)

['title', 'title']

In [77]:
#7

#If we use this regex expression [^0-9=+*()]+ , we do not get (5-3)^2=5^2-2*5*3+3^2 this equation output as a string.
#It only matches (-,^) this two symbol.In order to get Desired output as string.
#we need to use [-+^*()=0-9]+ this regex expression

equation = '(5-3)^2=5^2-2*5*3+3^2'

y = re.findall('[-+^*()=0-9]+', equation)

print(y)

['(5-3)^2=5^2-2*5*3+3^2']