In [ ]:
#Ishrat Amin
#CSCI381
#Professor : Matthew Fried
#Please keep UploadingandProcessingDataandListComprehension.ipynb and carsSample35.txt in same folder.
#

In [75]:
import pandas as pd

In [76]:
#1
df = pd.read_table('carsSample35.txt', sep=',', header=None)

In [77]:
df

        0      1      2     3      4     5      6
0    high   high      2     4    med   low  unacc
1    high   high      4  more  small  high    acc
2    high   high      4  more    big   low  unacc
3    high    low      2  more    big  high    acc
4   vhigh    low      3     2    med   med  unacc
5     low   high      2     2  small   low  unacc
6     med    med      4  more    med  high  vgood
7     low    low      3     2    big   med  unacc
8   vhigh    low      2     2  small   low  unacc
9   vhigh   high      4     4    med   low  unacc
10    low    low      2     2    med   med  unacc
11  vhigh    low      4  more  small  high    acc
12   high    low      2     4    big   med    acc
13    low  vhigh      3  more    big   low  unacc
14   high    low  5more     2    big   med  unacc
15  vhigh   high      2  more    med  high  unacc
16    med    med      2     2  small   low  unacc
17   high    low  5more     4    med  high    acc
18    low    low      3  more    med  high  vgood
19    low    low      2     2    big   med  unacc
20    med   high      4     2    big  high  unacc
21    low    low      2     2  small  high  unacc
22  vhigh   high  5more     4    med   med  unacc
23    med  vhigh      2     2    big   low  unacc
24    low  vhigh      4     4    big   low  unacc
25  vhigh    low      3  more    big   low  unacc
26    med  vhigh      3     4  small   low  unacc
27   high   high      3     4    med   med  unacc
28    low   high  5more     2    big   low  unacc
29    med   high  5more     2    med   med  unacc
30   high    low      3     4    med  high    acc
31   high  vhigh  5more     4    med   med  unacc
32    low    low  5more     2    med   low  unacc
33  vhigh  vhigh      4     2    big  high  unacc
34   high    low      3     2    big  high  unacc

In [78]:
df.columns =["price","MaintenanceCost","NumberofDoors","NumberofPassengers","LuggageCapacity","SafetyRating","ClassificationofVehicle"]

In [79]:
df

,price,MaintenanceCost,NumberofDoors,NumberofPassengers,LuggageCapacity,SafetyRating,ClassificationofVehicle
0,high,high,2,4,med,low,unacc
1,high,high,4,more,small,high,acc
2,high,high,4,more,big,low,unacc
3,high,low,2,more,big,high,acc
4,vhigh,low,3,2,med,med,unacc
5,low,high,2,2,small,low,unacc
6,med,med,4,more,med,high,vgood
7,low,low,3,2,big,med,unacc
8,vhigh,low,2,2,small,low,unacc
9,vhigh,high,4,4,med,low,unacc
10,low,low,2,2,med,med,unacc
11,vhigh,low,4,more,small,high,acc
12,high,low,2,4,big,med,acc
13,low,vhigh,3,more,big,low,unacc
14,high,low,5more,2,big,med,unacc
15,vhigh,high,2,more,med,high,unacc
16,med,med,2,2,small,low,unacc
17,high,low,5more,4,med,high,acc
18,low,low,3,more,med,high,vgood
19,low,low,2,2,big,med,unacc
20,med,high,4,2,big,high,unacc
21,low,low,2,2,small,high,unacc
22,vhigh,high,5more,4,med,med,unacc
23,med,vhigh,2,2,big,low,unacc
24,low,vhigh,4,4,big,low,unacc
25,vhigh,low,3,more,big,low,unacc
26,med,vhigh,3,4,small,low,unacc
27,high,high,3,4,med,med,unacc
28,low,high,5more,2,big,low,unacc
29,med,high,5more,2,med,med,unacc
30,high,low,3,4,med,high,acc
31,high,vhigh,5more,4,med,med,unacc
32,low,low,5more,2,med,low,unacc
33,vhigh,vhigh,4,2,big,high,unacc
34,high,low,3,2,big,high,unacc

In [80]:
#2
df['price'].tolist()

['high',
 'high',
 'high',
 'high',
 'vhigh',
 'low',
 'med',
 'low',
 'vhigh',
 'vhigh',
 'low',
 'vhigh',
 'high',
 'low',
 'high',
 'vhigh',
 'med',
 'high',
 'low',
 'low',
 'med',
 'low',
 'vhigh',
 'med',
 'low',
 'vhigh',
 'med',
 'high',
 'low',
 'med',
 'high',
 'high',
 'low',
 'vhigh',
 'high']

In [81]:
df['MaintenanceCost'].tolist()

['high',
 'high',
 'high',
 'low',
 'low',
 'high',
 'med',
 'low',
 'low',
 'high',
 'low',
 'low',
 'low',
 'vhigh',
 'low',
 'high',
 'med',
 'low',
 'low',
 'low',
 'high',
 'low',
 'high',
 'vhigh',
 'vhigh',
 'low',
 'vhigh',
 'high',
 'high',
 'high',
 'low',
 'vhigh',
 'low',
 'vhigh',
 'low']

In [82]:
df['NumberofDoors'].tolist()

['2',
 '4',
 '4',
 '2',
 '3',
 '2',
 '4',
 '3',
 '2',
 '4',
 '2',
 '4',
 '2',
 '3',
 '5more',
 '2',
 '2',
 '5more',
 '3',
 '2',
 '4',
 '2',
 '5more',
 '2',
 '4',
 '3',
 '3',
 '3',
 '5more',
 '5more',
 '3',
 '5more',
 '5more',
 '4',
 '3']

In [83]:
df['NumberofPassengers'].tolist()

['4',
 'more',
 'more',
 'more',
 '2',
 '2',
 'more',
 '2',
 '2',
 '4',
 '2',
 'more',
 '4',
 'more',
 '2',
 'more',
 '2',
 '4',
 'more',
 '2',
 '2',
 '2',
 '4',
 '2',
 '4',
 'more',
 '4',
 '4',
 '2',
 '2',
 '4',
 '4',
 '2',
 '2',
 '2']

In [84]:
df['LuggageCapacity'].tolist()

['med',
 'small',
 'big',
 'big',
 'med',
 'small',
 'med',
 'big',
 'small',
 'med',
 'med',
 'small',
 'big',
 'big',
 'big',
 'med',
 'small',
 'med',
 'med',
 'big',
 'big',
 'small',
 'med',
 'big',
 'big',
 'big',
 'small',
 'med',
 'big',
 'med',
 'med',
 'med',
 'med',
 'big',
 'big']

In [85]:
df['SafetyRating'].tolist()

['low',
 'high',
 'low',
 'high',
 'med',
 'low',
 'high',
 'med',
 'low',
 'low',
 'med',
 'high',
 'med',
 'low',
 'med',
 'high',
 'low',
 'high',
 'high',
 'med',
 'high',
 'high',
 'med',
 'low',
 'low',
 'low',
 'low',
 'med',
 'low',
 'med',
 'high',
 'med',
 'low',
 'high',
 'high']

In [125]:
df['ClassificationofVehicle'].tolist()

['unacc',
 'acc',
 'unacc',
 'acc',
 'unacc',
 'unacc',
 'vgood',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'acc',
 'acc',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'acc',
 'vgood',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'unacc',
 'acc',
 'unacc',
 'unacc',
 'unacc',
 'unacc']

In [149]:
#3

df1=df.loc[df['price'].str.contains("med"), 'price'].index.values
print(df1)

[ 6 16 20 23 26 29]

In [88]:
#4
df.loc[df['price'].str.contains("med"), 'NumberofPassengers'].tolist()

['more', '2', '2', '2', '4', '2']

In [89]:
#5
price = df['price'].tolist()
MaintenanceCost = df['MaintenanceCost'].tolist()
x = [idx for idx, val in enumerate(price) if val == 'high' and MaintenanceCost[idx] != 'low']
print(x)

[0, 1, 2, 27, 31]

In [90]:
#6
price = df['price'].tolist()
y = [idx for idx, val in enumerate(price) if val == 'med']
print(y)

[6, 16, 20, 23, 26, 29]

In [91]:
#7
price = df['price'].tolist()
NumberofPassengers=df['NumberofPassengers'].tolist()

a = [val for idx, val in enumerate(
    NumberofPassengers) if price[idx] == 'med']
print(a)

['more', '2', '2', '2', '4', '2']

In [92]:
#8
price = df['price'].tolist()
MaintenanceCost = df['MaintenanceCost'].tolist()

highnotLow = [i for i in range (len(price)) if price[i] == 'high' and MaintenanceCost[i] != 'low']
print(highnotLow)

[0, 1, 2, 27, 31]

In [147]:
#NestedListComprehension
nlist = [[1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E']]
New_list = [val for sub in nlist for val in sub]

In [148]:
print(New_list)

[1, 2, 3, 'A', 'B', 'C', 4, 5, 'D', 'E']