In [19]:
#Ishrat Amin
#CSCI381
#Professor : Matthew Fried

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


url = "https://raw.githubusercontent.com/Ishrat24/Data-Analytics/main/Logistic%20Regression/HDMA%20Boston%20Housing%20Data.csv"

In [21]:
df = pd.read_table(url ,  delimiter=" ")

In [22]:
df

     ,dir,hir,lvr,ccs,mcs,pbcr,dmi,self,single,uria,comdominiom,black,deny
0     1,0.221000004,0.221000004,0.8,5,2,no,no,no,no,...
1     2,0.265,0.265,0.921875,2,2,no,no,no,yes,3.2000...
2     3,0.372000008,0.247999992,0.92039801,1,2,no,no...
3     4,0.32,0.25,0.860465116,1,2,no,no,no,no,4.3000...
4     5,0.36,0.35,0.6,1,1,no,no,no,no,3.200000048,0,...
...                                                 ...
2376  2377,0.3,0.3,0.77704918,1,2,no,no,no,yes,3.200...
2377  2378,0.26,0.2,0.526760563,2,1,no,no,no,no,3.09...
2378  2379,0.32,0.26,0.753846154,6,1,yes,no,no,yes,3...
2379  2380,0.35,0.26,0.813559322,2,2,no,no,no,yes,4....
2380  2381,0.330813567,0.255346122,0.700782903,2.116...

[2381 rows x 1 columns]